.additional-list {
  display: none;
}

@media (min-width: @desktop-width) {
  .additional-list {
    max-width: 700px;
    display: flex;
    .list-reset ();
    position: absolute;
    z-index: 1;
    top: 89px;
    left: 0;
  }

  .additional-list__link {
    .font (15px; 24px);
    .weight ();
    .link-reset (@color-black);
    .display-block-link();
    padding: 17px 62px 17px 0;
    outline: none;

    &:focus {
      color: @color-black-hover;
    }

    &:hover {
      color: @color-black-hover;
    }

    &:active {
      color: @color-black-active;
    }
  }
}
