body {
  font-family: "Open Sans", "Arial", sans-serif;
  .weight (bold);
  color: @color-greyish-brown;

  min-width: 320px;
  background-color: @color-white;

  .indent(0;0);
}

img {
  max-width: 100%;
  height: auto;
}
