body {
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  color: @color-greyish-brown;

  min-width: 320px;
  background-color: @color-white;

  .indent(0;0);

  position: relative;
}

.body__wrapper--opacity {
  opacity: 0.2;
}

img {
  width: 100%;
  height: auto;
}

a {
  cursor: pointer;
}

@media (min-width: @desktop-width) {
  .body__wrapper {
    padding: 0;
    margin: 0 auto;
  }
}
