.catalog-popup {
  width: 100%;
  max-width: 566px;
  box-sizing: border-box;
  padding: 30px 30px 46px;
  margin: 0 auto;
  background-color: @color-white;
  border: 2px solid @color-border;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  position: absolute;
  top: 30%;
  display: none;
}

.catalog-popup--opened {
  display: block;
}

.catalog-popup__title {
  .section-header ();
  text-transform: uppercase;
  text-align: center;
  margin: 0 54px 12px;
}

.catalog-popup__text {
  .font (15px; 30px);
  .weight (400);
  color: @color-greyish-brown;
  text-align: center;
  margin: 0 0 24px;
}

.catalog-popup__list {
  .list-reset ();
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between;
}

.catalog-popup__item {
  flex-grow: 1;

  &:hover {
    border-color: @color-radio-toggle-active;
  }

  &:active {
    border-color: @color-radio-toggle;
  }
}

.catalog-popup__size-value {
  display: block;
  width: auto;
  padding: 15px 20px 16px;
  text-align: center;
  border: 2px solid @color-popap-item;
}

.catalog-popup__size input[type="radio"]:hover + .catalog-popup__size-value {
  border-color: @color-radio-toggle-active;
}

.catalog-popup__size input[type="radio"]:active + .catalog-popup__size-value,
.catalog-popup__size input[type="radio"]:checked + .catalog-popup__size-value {
  border-color: @color-radio-toggle;
}

.catalog-popup__item:not(:last-child) {
  margin-right: 7px;
}

.catalog-popup__size {
  .font (17px; 16px);
  color: @color-greyish-brown;
}

.catalog-popup__button {
  color: @color-white;
  border-color: @color-turquoise;
  background-color: @color-turquoise;
}

@media (min-width: @tablet-width) {
  .catalog-popup {
    padding: 32px 104px 46px;
  }

  .catalog-popup__title {
    .font (30px; 57px);
    margin: 0 0 14px;
  }

  .catalog-popup__text {
    .font (17px; 30px);
    margin-bottom: 21px;
  }
}
