.catalog-sections {
  height: 488px;
  background-image: url(../../img/index/hero-mobile@1x.jpg);
  background-color: @base-color;
  background-repeat: no-repeat;
  background-position: center -18px;
  background-size: auto;
  position: relative;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url(../../img/index/hero-mobile@2x.jpg);
  }
}

.catalog-sections__title {
  .page-title ();
  text-align: center;
  padding: 69px 35px 122px;
  margin: 0 auto;
}

.catalog-sections__text {
  .font (15px; 24px);
  color: @color-greyish-brown;
  .weight (400);
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.catalog-sections__list {
  width: 100%;
  .list-reset();
  position: absolute;
  bottom: 0;
}

.catalog-sections__item {
  height: 103px;
  box-sizing: border-box;
  position: relative;

  &:hover {
    height: 108px;
  }
}

.catalog-sections__item--interior::before {
  content: "";
  display: block;
  width: 40px;
  height: 62px;
  background-image: url(../../img/index/icon-interior.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  top: 24px;
  right: 36px;
}

.catalog-sections__item--toys::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../../img/index/icon-toy.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  top: 22px;
  right: 27px;
}

.catalog-sections__link {
  .font (19px; 24px);
  .link-reset (@color-white);
  .display-block-link ();
  padding: 27px 185px 52px 29px;

  &:active {
    opacity: 0.3;
  }
}

.catalog-sections__item--interior {
  background-color: @color-turquoise;

  &:hover {
    background-color: @color-turquoise-hover;
  }

  &:hover::before {
    opacity: 0, 7;
  }

  &:active::before {
    opacity: 0, 3;
  }
}

.catalog-sections__item--toys {
  background-color: @color-dark-turquoise;

  &:hover {
    background-color: @color-dark-turquoise-hover;
  }

  &:hover::before {
    opacity: 0, 7;
  }

  &:active::before {
    opacity: 0, 3;
  }
}

@media (min-width: @tablet-width) {
  .catalog-sections {
    height: 746px;
    background-image: url(../../img/index/hero-tablet@1x.jpg);
    background-position: center 0;
    background-size: 1150px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../../img/index/hero-tablet@2x.jpg);
    }

    .catalog-sections::before {
      content: "";
      background-image: url(../../img/index/bg-zigzag-fill.svg);
      display: block;
      width: 100%;
      height: 34px;
      position: absolute;
      z-index: 1;
      bottom: -22px;
    }

    .catalog-sections__text {
      display: block;
      top: 2px;
      right: 31px;
    }

    .catalog-sections__title {
      .font(43px; 50px);
      padding-top: 153px;
      padding-bottom: 373px;
    }

    .catalog-sections__list {
      box-sizing: border-box;
      padding: 0 30px;
      display: flex;
    }

    .catalog-sections__item {
      min-width: 334px;
      height: 119px;
      box-sizing: border-box;
      flex-grow: 1;

      &:hover {
        height: 124px;
      }
    }

    .catalog-sections__item--interior::before {
      content: "";
      top: 30px;
      right: 37px;
    }

    .catalog-sections__item--toys::before {
      content: "";
      top: 32px;
      right: 34px;
    }

    .catalog-sections__link {
      .font(20px; 30px);
      padding: 27px 185px 32px 36px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog-sections {
    background-image: url(../../img/index/hero-desktop@1x.jpg);
    background-position: center 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../../img/index/hero-desktop@2x.jpg);
    }
  }
}
