.catalog__list {
  .list-reset ();
}

.catalog__item {
  border: 1px solid @base-color;
  margin-bottom: 30px;
}

.catalog__description {
  .link-reset (@color-black);
}

.catalog__image-product {
  background-color: @base-color;
  margin-bottom: 30px;
}

.catalog__title-product {
  .font (17px; 24px);
  margin: 0 28px 17px;
}

.catalog__description-text {
  .font (13px; 30px);
  .weight (400);
  color: @color-greyish-brown;
  padding-bottom: 27px;
  margin: 0 28px;
  border-bottom: 1px solid @base-color;
}

.catalog__control-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 27px 28px;
}

.catalog__button {
  font-size: 0;
  background-color: transparent;
  border: none;
}

.catalog__price {
  .font (15px; 24px);
  margin: 0;
}
