.contacts__title {
  .font(18px; 30px);
  .weight ();
  margin-bottom: -2px;
  padding: 0 30px;
}

.contacts__list {
  .font(15px; 30px);
  color: @color-greyish-brown;
  .list-reset ();
  margin: 0 30px 40px;
  display: table;
}

.contacts__item {
  display: table-row;
}

.contacts__item span {
  display: table-cell;
  min-width: 50px;
}

.contacts__value,
.contacts__field {
  padding: 28px 26px 0 0;
}

.contacts__field--address {
  padding-right: 65px;
}

.contacts__link {
  .link-reset(@color-greyish-brown);
  padding-bottom: 3px;
  border-bottom: 1px solid @color-dark-turquoise-hover;

  &:hover {
    color: @color-dark-turquoise-hover;
  }

  &:active {
    color: @color-dark-turquoise-active;
    border-color: @color-dark-turquoise-active;
  }
}

iframe {
  .size(100%; 457px);
  margin: 0 0 36px;
}

.contacts__write {
  .font(18px; 20px);
  display: block;
  width: auto;
  margin: 0 30px;
  .link-reset(@color-greyish-brown);
  text-align: center;
}

@media (min-width: @tablet-width) {
  .contacts {
    position: relative;
  }

  .contacts::before {
    content: "";
    display: block;
    .size (47px; 81px);
    background-image: url("../../img/index/icon-flag.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -15px;
    right: 53px;
  }

  .contacts__title {
    .font(43px; 50px);
    padding: 0 50px;
    margin-left: -4px;
  }

  .contacts__list {
    font-size: 17px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 57px;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__item span {
    min-width: 68px;
  }

  .contacts__value,
  .contacts__field {
    padding: 50px 9px 0 0;
  }

  iframe {
    height: 457px;
    margin-bottom: 52px;
  }

  .contacts__write {
    width: fit-content;
    padding: 14px 35px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    min-height: 457px;
    display: flex;
    flex-direction: column;
  }

  .contacts::before {
    content: "";
    top: 62px;
    left: 63px;
  }

  .contacts__title {
    .font(53px; 57px);
    padding: 26px 0 0 0;
    margin-bottom: 49px;
  }

  .contacts__list {
    flex-direction: column;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .contacts__item {
    width: 100%;
  }

  .contacts__item span {
    min-width: 76px;
  }

  .contacts__value,
  .contacts__field {
    padding: 0 0 30px 0;
  }

  iframe {
    .size (525px; 457px);
    position: absolute;
    top: 0;
    right: 19px;
  }

  .contacts__write {
    margin-top: auto;
    margin-left: 0;
  }
}
