.copyright {
  padding-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  .font (19px; 18px);
  .weight ();
  color: @color-black;
  margin-right: 30px;

  &:active {
    color: @color-black-active;
  }
}

.copyright__link svg {
  fill: @color-turquoise;
  padding-top: 2px;

  &:hover {
    fill: @color-dark-turquoise-hover;
  }

  &:active {
    fill: @color-dark-turquoise-hover;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    padding-top: 0;
  }
}
