.info-user__header {
  margin-bottom: 28px;
  .weight();

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: @color-turquoise;
    position: absolute;
    left: 0;
    top: 8px;
    z-index: -1;
  }
}

.info-user__header-text {
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff;
  padding-right: 20px;
}


.info-user__list {
  .list-reset();
  margin-bottom: 32px;
}

.info-user__item:not(:last-child) {
  margin-bottom: 22px;
}

.info-user__text {
  display: block;
  .font (17px; 18px);
  .weight();
  margin-bottom: 13px;
}

.info-user__input {
  width: 100%;
  padding-bottom: 18px;
  border: none;
  border-bottom: 2px solid @color-black;

  &:hover,
  &:active {
    border-color: @color-radio-toggle;
  }
}

@media (min-width: @tablet-width) {
  .info-user {
    margin-top: 10px;
  }

  .info-user__header::before {
    content: "";
    display: none;
  }

  .info-user__header-text {
    background-color: transparent;
  }

  .info-user__list {
    margin-bottom: 0;
  }

  .info-user__item:not(:last-child) {
    margin-bottom: 34px;
  }

  .info-user__item label {
    display: flex;
  }

  .info-user__item span {
    .font(19px; 18px);
    margin-right: 26px;
    padding-top: 5px;
  }

  .info-user__item input {
    .font(19px; 18px);
    padding: 0 0 14px 15px;
  }
}

@media (min-width: @desktop-width) {
  .info-user {
    max-width: 1050px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 174px;
    padding-right: 175px;
  }

  .info-user__list {
    margin-left: 3px;
  }
}
