.page-header {
  background-color: @color-white;
  position: relative;
  z-index: 2;
}

.page-header__logo {
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid @base-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  .size(86px; 35px);
}

.page-header__order {
  .font (15px; 24px);
  color: @color-greyish-brown;
  position: absolute;
  bottom: -57px;
    right: 50px;
  display: none;
}



@media (min-width: @tablet-width) {
  .page-header {
    padding: 0 49px;
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo {
    height: 88px;
    border: none;
  }

  .page-header__logo-image {
    .size(112px; 46px);
  }

  .page-header__order {
    display: block;
    z-index: 1;
    right: 50px;
  }

}

@media (min-width: @desktop-width) {
  .page-header {
    max-width: 1050px;
    padding: 0;
    margin: 0 auto;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .page-header__logo-image {
    .size(149px; 72px);
  }

  .page-header__order {
    right: 0;
  }
}
