.page-footer {
  background-color: @color-lite-grey;
}

.page-footer__wrapper {
  padding: 24px 0;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    padding: 52px 50px 58px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .page-footer__logo {
    display: block;
    fill: @color-black;

    &:hover {
      fill: @color-dark-turquoise-hover;
    }

    &:active {
      fill: @color-dark-turquoise-hover;
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    max-width: 1050px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}
