.page-main__catalog-sections {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 27px;
}

.page-main__product-week {
  margin-bottom: 69px;
}

.page-main__advantages {
  margin-bottom: 58px;
}

.page-main__reviews {
  margin-bottom: 86px;
}

.page-main__contacts {
  margin: 0 -30px 40px;
}

.page-main__wrapper-title {
  margin: 0 -30px 22px;
  background-color: @color-lite-grey;
}

.page-main__title {
  .page-title ();
  text-align: center;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 76px;
}

.page-main__production-process {
  margin-bottom: 58px;
}

.page-main__text {
  .font (13px; 24px);
  .weight (400);
  color: @color-greyish-brown;
  margin-bottom: 1px;
}

.page-main__form {
  margin-bottom: 55px;
}

@media (min-width: @tablet-width) {
  .page-main__catalog-sections {
    margin-bottom: 45px;
  }

  .page-main__product-week {
    margin-bottom: 118px;
  }

  .page-main__advantages {
    margin-bottom: 82px;
  }

  .page-main__reviews {
    margin-bottom: 193px;
  }

  .page-main__contacts {
    margin-bottom: 57px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__product-week {
    margin-bottom: 155px;
    padding-left: 176px;
  }

  .page-main__advantages {
    margin-bottom: 88px;
    padding-left: 176px;
  }

  .page-main__reviews {
    margin-bottom: 256px;
    padding-left: 176px;
  }

  .page-main__contacts {
    padding-left: 205px;
    padding-right: 53%;
    margin-bottom: 105px;
  }
}
