.page-header {
  position: relative;
  margin: 0 -30px;
}

.page-header__logo {
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid @base-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  .size(86px; 35px);
}

@media (min-width: @tablet-width) {
  .page-header {
    margin: 0 -49px;
    padding: 0 49px;
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo {
    height: 88px;
    border: none;
  }

  .page-header__logo-image {
    .size(112px; 46px);
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .page-header__logo-image {
    .size(149px; 72px);
  }
}
