.production-process {
  border: 1px solid @base-color;
  box-sizing: border-box;
  position: relative;
}

.production-process__title {
  .font (17px; 24px);
  margin: 0;
  padding: 23px 42px 25px 90px;
  background-image: url("../../img/catalog/icon-video.svg");
  background-repeat: no-repeat;
  background-size: 46px 32px;
  background-position: 26px 29px;
}

.production-process__video {
  position: relative;
}

.production-process__button--play {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%; -64%);
}

.production-process__wrapper-description {
  padding: 27px 34px 32px;
  margin-top: -29px;
  background-color: white;
  position: relative;
}

.production-process__text {
  .font (13px; 24px);
  .weight();
  color: @color-greyish-brown;
  margin: 0 0 25px;
}

.production-process__button {
  .weight ();

  &:hover {
    color: @color-white;
  }
}

@media (min-width: @tablet-width) {
  .production-process {
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;
  }

  .production-process__video {
    height: 455px;
    order: -1;
  }

  .production-process__button--play {
    transform: translate(-50%; -50%);
  }

  .production-process__title {
    .font(20px; 24px);
    padding-top: 37px;
    padding-left: 106px;
    z-index: 2;
    background-position: 35px 32px;
  }

  .production-process__text {
    .font (15px; 30px);
    margin-bottom: 35px;
  }

  .production-process__wrapper-description {
    padding: 7px 41px 45px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .production-process {
    min-height: 455px;
    padding-left: 720px;
    margin-bottom: 106px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .production-process__title {
    .font (20px; 24px);
    padding: 94px 95px 27px 41px;
    background-position-y: 41px;
  }

  .production-process__video {
    width: 682px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .production-process__wrapper-description {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 58px;
    padding-bottom: 59px;
  }
}
