.production-process {
  border: 1px solid @base-color;
  box-sizing: border-box;
}

.production-process__title {
  .font (17px; 24px);
  margin: 0;
  padding: 29px 42px 26px 91px;
}

.production-process__video {
  margin-bottom: 34px;
}

.production-process__wrapper-description {
  padding: 34px;
}

.production-process__text {
  .font (13px; 24px);
  .weight(400);
  color: @color-greyish-brown;
  margin: 0 0 29px;
}
