.product-week {
  .font (15px; 24px);
  color: @color-greyish-brown;
}

.product-week__title {
  .section-header ();
  margin: 0 0 5px 0;
}

.product-week__subheading {
  .font(17px; 20px);
  color: @color-turquoise;
  margin: 0 0 23px 0;
}

.product-week__description {
  .weight(400);
  margin-bottom: 16px;
}

.product-week__list {
  .weight(400);
  width: 100%;
  margin-bottom: 25px;
}

.product-week__list td {
  padding: 7px 5px 7px 0;
  border-bottom: 1px solid @base-color;
}

.product-week__value {
  width: 33%;
}

.product-week__image-product--mobile {
  display: block;
  margin: 0 auto;
  background-color: @base-color;
  margin-bottom: 24px;
}

.product-week__image-product--tablet {
  display: none;
}

.product-week__image-product--desktop {
  display: none;
}

.product-week__price-text {
  .font (17px; 24px);
  text-align: center;
  margin-bottom: 26px;
}

@media (min-width: @tablet-width) {
  .product-week {
    position: relative;
  }

  .product-week::before {
    content: "";
    background-image: url(../../img/index/bg-zigzag-line.svg);
    background-repeat: repeat-x;
    display: block;
    width: 100%;
    height: 23px;
    position: absolute;
    bottom: -70px;
  }

  .product-week__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }

  .product-week__title {
    .font (43px; 50px);
  }

  .product-week__subheading {
    line-height: 17px;
    text-align: center;
    .size (70px; 33px);
    margin: 0 29px 0 0;
  }

  .product-week__wrapper {
    padding-right: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .product-week__image-product {
    width: 50%;
    padding-top: 6px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .product-week__image-product--mobile {
    display: none;
  }

  .product-week__image-product--tablet {
    display: block;
    width: 100%;
    height: auto;
    background-color: @base-color;
  }

  .product-week__image-product--desktop {
    display: none;
  }

  .product-week__description-text {
    margin-right: 44px;
    margin-bottom: 8px;
  }

  .product-week__description {
    .font(17px; 30px);
    margin-top: 0;
    margin-bottom: 33px;
  }

  .product-week__price {
    margin-right: 44px;
  }

  .product-week__price-text {
    font-size: 20px;
    margin-bottom: 34px;
  }

  .product-week__button {
    .weight(bold);
  }
}

@media (min-width: @desktop-width) {
  .product-week__image-product--mobile {
    display: none;
  }

  .product-week__image-product--tablet {
    display: none;
  }

  .product-week__image-product--desktop {
    display: block;
    margin: 0 auto;
    background-color: @base-color;
    margin-bottom: 24px;
  }
}
