.site-list {
  .list-reset();
}

.site-list__item {
  border-bottom: 1px solid @base-color;
}

.site-list__link {
  .font (17px; 24px);
  .link-reset (@color-black);
  .display-block-link();
  padding: 25px 0 29px 75px;

  &:hover {
    color: @color-black-hover;
  }

  &:active {
    color: @color-black-active;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    max-width: 440px;
    display: flex;
    flex-wrap: wrap;
    border: none;
    position: absolute;
    z-index: 1;
    top: 107px;
    left: 48px;
  }

  .site-list__item {
    border: none;
  }

  .site-list__link {
    .font(15px; 24px);
    padding: 0 38px 0 0;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    position: relative;
    top: 0;
    left: 0;
    order: -1;
  }

  .site-list__item:not(:last-child) {
    margin-right: 35px;
  }

  .site-list__link {
    .font(17px; 24px);
    padding: 31px 36px 33px 0;
  }

  .site-list__link:not(:last-child) {
    border-right: 1px solid @base-color;
  }
}
